<section id="vehicles">
    <div class="centered">
        <h1 class="component-title">VOZILA</h1>
        <div class="dot-line"></div>
    </div>
    <div className="vehicle-container">
        <p>
        No Stress agencija za selidbe pruža usluge sigurnog transporta vaših stvari uz naše pouzdano vozilo Citroen Jumper novije generacije. Bezbednost vaših dragocenosti nam je najvažnija, zato smo opremili naše vozilo sa najnovijim sigurnosnim sistemima.
        Uz redovno održavanje i pažljivu pripremu, naše vozilo Citroen Jumper je uvek spremno za bezbedna putovanja, bilo da su u pitanju kraći ili duži putevi.
        <br><br>
        Sa impresivnom nosivošću od 1500kg, naše vozilo omogućava efikasno prenošenje svih vaših stvari, bez obzira na njihovu veličinu ili težinu."
        Kada se odlučite za selidbu uz No Stress agenciju, možete biti sigurni da će vaše stvari stići na željenu destinaciju sigurno i bez ikakvih oštećenja, zahvaljujući našem pouzdanom vozilu.
        </p>
        <img src="./assets/images/van.jpg" alt="kombi" />
    </div>
</section>