<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Kontakt informacije</h4>
                <ul class="footer-contact">
                    <li><fa-icon [icon]="faMap" class="icon"></fa-icon> Adresa: ulica br. Grad, Država</li>
                    <li><fa-icon [icon]="faPhone" class="icon"></fa-icon> Telefon: +123456789</li>
                    <li><fa-icon [icon]="faEnvelope" class="icon"></fa-icon> E-mail: info@selidbe.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Korisni linkovi</h4>
                <ul class="footer-links">
                    <li><a href="#">O nama</a></li>
                    <li><a href="#">Usluge</a></li>
                    <li><a href="#">Cijene</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Pratite nas</h4>
                <div class="footer-social">
                    <a href="#" class="icon-link">
                        <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
                    </a>
                    <a href="#" class="icon-link">
                        <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
                    </a>
                    <a href="#" class="icon-link">
                        <fa-icon [icon]="faViber" class="icon"></fa-icon>
                    </a>
                    <a href="#" class="icon-link">
                        <fa-icon [icon]="faWhatsapp" class="icon"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p class="text-center">&copy; 2023 Selidbe.com. Sva prava zadržana.</p>
            </div>
        </div>
    </div>
</footer>