<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h4>Informacije</h4>
                <ul class="footer-contact">
                    <li><fa-icon [icon]="faMap" class="icon"></fa-icon> Adresa: ulica br. Grad, Država</li>
                    <li><fa-icon [icon]="faPhone" class="icon"></fa-icon> Telefon: +381677000344</li>
                    <li><fa-icon [icon]="faEnvelope" class="icon"></fa-icon> E-mail: info@selidbenostress.rs</li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h4>Korisni linkovi</h4>
                <ul class="footer-links">
                    <li><a href="#">O nama</a></li>
                    <li><a href="#">Usluge</a></li>
                    <li><a href="#">Cene</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Mapa sajta</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h4>Kontakt</h4>
                <div class="footer-social">
                    <a href="https://www.facebook.com/profile.php?id=100064907533298" class="icon-link">
                        <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/selidbe.beeograd/" class="icon-link">
                        <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
                    </a>
                    <a href="+381677000344" class="icon-link">
                        <fa-icon [icon]="faViber" class="icon"></fa-icon>
                    </a>
                    <a href="+381677000344" class="icon-link">
                        <fa-icon [icon]="faWhatsapp" class="icon"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p class="text-center">&copy; 2023 Selidbe.com. Sva prava zadržana.</p>
            </div>
        </div>
    </div>
</footer>