<section id="about">
    <span id="about-section">
        <h1 class="component-title">O nama</h1>
        Agencija za selidbe i transport "No stress" već nekoliko godina vrlo
        uspešno pruža usluge selidbe i transporta na teritoriji Beograda, Srbije
        i inostranstva. Dugogodišnje iskustvo, profesionalni radnici, pouzdanost
        i efikasnost su naše glavne karakteristike. Tokom svog ovog vremena
        stekli smo velik broj stalnih i zadovoljnih klijenata koji su naša
        najveća satisfakcija. Naš moto je selite se bez stresa!
    </span>
</section>