<header class="navbar" [ngClass]="{'navbar-hidden': !visible}">
    <nav class="navbar-container">
        <div class="navbar-logo">
            <img src="./assets/images/logo.png" alt="Logo" />
        </div>
        <div class="navbar-links">
            <a [routerLink]="['/home']" routerLinkActive="active" (click)="scrollTo('home')">Početna</a>
            <a [routerLink]="['/services']" routerLinkActive="active" (click)="scrollTo('services')">Usluge</a>
            <a [routerLink]="['/prices']" routerLinkActive="active" (click)="scrollTo('prices')">Cenovnik</a>
            <a [routerLink]="['/form']" routerLinkActive="active" (click)="scrollTo('form')">Online procena</a>
            <a [routerLink]="['/vehicles']" routerLinkActive="active" (click)="scrollTo('vehicles')">Vozila</a>
            <a [routerLink]="['/gallery']" routerLinkActive="active" (click)="scrollTo('gallery')">Galerija</a>
            <a [routerLink]="['/about']" routerLinkActive="active" (click)="scrollTo('about')">O nama</a>
        </div>
        <div class="navbar-social">
            <a href="https://www.facebook.com/profile.php?id=100064907533298">
                <i class="fa fa-brands fa-square-facebook"></i>
                <fa-icon [icon]="faFacebookF"></fa-icon>
            </a>
            <a href="https://www.instagram.com/selidbe.beeograd/">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <button class="navbar-phone" (click)="handlePhoneClick()">
                <fa-icon [icon]="faPhone"></fa-icon>
            </button>
        </div>
    </nav>
</header>