.reviews-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.reviews {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.review-card {
    width: 30%;
    border-radius: 5%;
    border: 1px solid gray;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.336);
    padding: 1rem;
    text-align: center;
}

.review-buttons {
    margin-right: 1rem;
    margin-left: 1rem;
    border: none;
    background: none;
    font-size: 2em;
    color: grey;
}

.review-buttons[disabled] {
    color: white;
}

/* Stilizacija za telefone */
@media only screen and (max-width: 767px) {
    .reviews {
      flex-wrap: wrap;
      width: 90%;
    }
    
    .review-card {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  
  /* Stilizacija za tablete */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .reviews {
      flex-wrap: wrap;
      width: 90%;
    }
    
    .review-card {
      width: 45%;
      margin-bottom: 1rem;
    }
  }
  
  /* Stilizacija za mobilne uređaje */
  .review-card {
    @media only screen and (max-width: 767px) {
      box-shadow: none;
      border: none;
      padding: 0;
    }
  }
  
  /* Stilizacija za gumbe recenzija */
  .review-buttons {
    @media only screen and (max-width: 767px) {
      font-size: 1.5em;
    }
  }
  