<div class="centered">
    <h1 class="component-title">ONLINE PROCENA CENE</h1>
    <div class="dot-line"></div>
</div>
<form *ngIf="!submitted" id="form">
    <div>
        <label>Ime:</label>
        <input type="text" [(ngModel)]="name" required />
    </div>
    <div>
        <label>Broj telefona:</label>
        <input type="text" [(ngModel)]="phoneNumber" required />
    </div>
    <div>
        <label>Fizicko lice/ Pravno lice:</label>
        <!--
        <div>
            <input type="radio" id="physical" value="Fizicko lice" [(ngModel)]="entityType" required />
            <label for="physical">Fizicko lice</label>
        </div>
        <div>
            <input type="radio" id="legal" value="Pravno lice" [(ngModel)]="entityType" required />
            <label for="legal">Pravno lice</label>
        </div>
    -->
    <input type="radio" id="physical" value="Fizicko lice" [ngModel]="entityType" (ngModelChange)="entityType = $event" name="entityType" required />
<label for="physical">Fizicko lice</label>
<input type="radio" id="legal" value="Pravno lice" [ngModel]="entityType" (ngModelChange)="entityType = $event" name="entityType" required />
<label for="legal">Pravno lice</label>

    </div>
    <div>
        <label>Usluge:</label>
        <div
            *ngFor="let service of ['Selidba', 'Prevoz', 'Montaža/Demontaža', 'Pakovanje', 'Zaštita', 'Selidba ključ u ruke', 'Kurirska usluga', 'Sa našim radnicima', 'Odnošenje starog namestaja', 'Prevoz kabastih stvari']">
            <input type="checkbox" value="{{ service }}" (change)="toggleService(service)" />
            <label>{{ service }}</label>
        </div>
    </div>
    <div>
        <label>Pocetna tacka:</label>
        <input type="text" [(ngModel)]="startingPoint" required />
    </div>
    <div>
        <label>Krajnja tacka:</label>
        <input type="text" [(ngModel)]="endPoint" required />
    </div>
    <button type="button" (click)="addStop()">+</button>
    <div *ngFor="let additionalPoint of additionalPoints; let i = index">
        <label for="additionalPoint{{ i }}">Dodatna tacka C {{ i + 1 }}:</label>
        <input type="text" id="additionalPoint{{ i }}" [(ngModel)]="additionalPoints[i].point"
            name="additionalPoints" />
    </div>
    <div class="form-group">
        <input type="radio" id="hasLift" value="Ima Lift" [ngModel]="liftAvailable" (ngModelChange)="liftAvailable = $event" name="lift" />
        <label for="hasLift">Ima lift</label>
        <input type="radio" id="noLift" value="Nema Lift" [ngModel]="liftAvailable" (ngModelChange)="liftAvailable = $event" name="lift" />
<label for="noLift">Nema lift</label>

    </div>
    <div class="form-group">
        <label for="acceess">Prilaz obejktu:</label>
        <input type="radio" id="accesible" value="Kuca" [ngModel]="accessibility" (ngModelChange)="accessibility = $event" name="accessibility" />
        <label for="accesible">Kuća</label>
        
        <input type="radio" id="nonaccesible" value="Stan" [ngModel]="accessibility" (ngModelChange)="accessibility = $event" name="accessibility" />
        <label for="nonaccesible">Stan</label>
        
    </div>
    <button class="submit-button" [disabled]="!form.valid" (click)="submitForm()">Submit</button>

</form>