#form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.component-title {
    font-size: 40px;
    font-weight: 500;
    color: var(--mainColor);
    margin: 0 auto 10px;
}

.dot-line {
    border-top: 10px dotted var(--mainColor);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}
  
form {
    max-width: 100%;
    width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    text-align: left;
}
form > div {
    margin-bottom: 20px;
  }
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group > div {
    display: flex;
    align-items: center;
  }
  
  .form-group label {
    margin-left: 5px;
    margin-right: 20px;
  }
  .sevice-label{
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type="text"] {
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .checkbox-item label {
    display: flex;
    align-items: center;
    margin-left: 5px;
  } 
  
  .checkbox-item {
    display: flex;
    align-items: center;
  }
  .input-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .add-button {
    width: auto;
    padding: 8px 16px;
    background-color: white;
    border: 3px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #c26e33;
    color:white;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #e3873b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #c26e33;
  }

@media screen and (max-width: 600px) {
    form {
      width: 90%;
    }
  }