<div id="prices">
    <h1 className="component-title">Cenovnik</h1>
    <div className="prices-grid">
        <div className="prices-text-wrapper">
            <h4>Cena usluge zavisi od nekoliko faktora:</h4>
            <ul>
                <li>Vrsta usluge koja se obavlja</li>
                <li>Količina i gabarita nameštaja ili robe</li>
                <li>Broj tura koje se prevoze</li>
                <li>Broj naših angažoanih radnika</li>
                <li>Pristupačnost prilaza objektu</li>
                <li>Da li objekat ima ili nema lift</li>
            </ul>
        </div>
        <div className="prices-text-wrapper">
            <p>Bice neka ikonica</p>
            <h3>Procenu vršimo besplatno dolaskom na Vašu adresu</h3>
        </div>
        <div className="prices-text-wrapper">
            <h4>Cene transporta bez angažovanja radnika:</h4>
            <ul>
                <li>Transport zona 1</li>
                <li>Transport zona 2</li>
                <li>Transport po km</li>
            </ul>
        </div>
    </div>
    <div className="prices-grid">
        <div className="prices-image-wrapper">
            <h3>Transport zona 1</h3>
            <img className="prices-image" alt="mapa" src="./assets/images/mapa3000.png" />
            <p>Cena transport za zonu 1 iznosi 3000din.</p>
        </div>
        <div className="prices-image-wrapper">
            <h3>Transport zona 2</h3>
            <img className="prices-image" alt="mapa" src="./assets/images/mapa4000.png" />
            <p>Cena transport za zonu 2 iznosi 4000din.</p>
        </div>
        <div className="prices-image-wrapper">
            <h3>Transport po kilometru</h3>
            <p>
                Ukoliko transport prelazi 80km u oba pravca, cena se formira po
                tarifi 60din po km
            </p>
            <p>Primer</p>
            <p>
                Ukoliko stvari prevozimo na rastojanju od 45km od početne tačke,
                cena se formira tako što se 45km pomnoži sa 2, uključujući do tamo i
                nazad, puta 60din po km.
            </p>
            <p>Cena u ovom slučaju bi iznosila 45*2*60 = 5400</p>
        </div>
    </div>
</div>