<div id="prices">
    <h1 class="component-title">Cenovnik</h1>
    <div class="intro-section">
        <h2>Cena usluge zavisi od</h2>
    </div>


    <div class="expandable-section" [ngClass]="{'expanded': isExpanded}">
        <div class="section-header" (click)="toggleExpand()">
            <h2>Cena usluge zavisi od</h2>
            <i class="fa fa-chevron-down" [ngClass]="{'rotate': isExpanded}"></i>
        </div>
        <div class="section-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
    </div>
    <div class="prices-grid">
        <div class="prices-text-wrapper">
            <h4>Cena usluge zavisi od:</h4>
            <ul>
                <li>Vrsta usluge</li>
                <li>Količina nameštaja ili robe</li>
                <li>Broj tura</li>
                <li>Broj radnika</li>
                <li>Pristup objektu</li>
                <li>Postojanje lifta</li>
            </ul>
            <p>Besplatna procena vrši se na Vašoj adresi</p>
        </div>
        <div class="prices-text-wrapper">
            <h4>Cene bez angažovanja radnika:</h4>
            <ul>
                <li>Zona 1</li>
                <li>Zona 2</li>
                <li>Po km</li>
            </ul>
        </div>
    </div>
    <div class="prices-grid">
        <div class="prices-image-wrapper">
            <h3>Zona 1</h3>
            <img class="prices-image" alt="mapa" src="./assets/images/mapa3000.png" />
            <p>Cena: 3000 din.</p>
        </div>
        <div class="prices-image-wrapper">
            <h3>Zona 2</h3>
            <img class="prices-image" alt="mapa" src="./assets/images/mapa4000.png" />
            <p>Cena: 4000 din.</p>
        </div>
        <div class="prices-image-wrapper">
            <h3>Po kilometru</h3>
            <p>Cena: 60 din/km</p>
            <p>Primer: 45 km x 2 x 60 = 5400 din.</p>
        </div>
    </div>
</div>