
#prices{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.component-title {
    font-size: 40px;
    font-weight: 500;
    color: var(--mainColor);
    margin: 0 auto 10px;
}

.dot-line {
    border-top: 10px dotted var(--mainColor);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}
p {
    text-align: justify;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}
.icon{
    color: var(--mainColor);
}
#call-button {
    background-color: #e3873b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#call-button:hover{
    background-color: #c26e33;
}
#call-button .icon {
    margin-right: 10px;
    color: white;
}

/* Stilizacija za telefone */
@media only screen and (max-width: 767px) {
    #prices {
      margin-bottom: 30px;
    }
    
    .centered {
      margin-bottom: 20px;
    }
    
    .component-title {
      font-size: 30px;
      margin-bottom: 5px;
    }
    
    .dot-line {
      width: 40%;
    }
    
    p {
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    ul {
      font-size: 14px;
    }
    
    #call-button {
      font-size: 16px;
      padding: 8px 16px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    #call-button .icon {
      margin-right: 8px;
    }
  }
  
  /* Stilizacija za tablete */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #prices {
      margin-bottom: 40px;
    }
    
    .centered {
      margin-bottom: 25px;
    }
    
    .component-title {
      font-size: 35px;
      margin-bottom: 10px;
    }
    
    .dot-line {
      width: 45%;
    }
    
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    ul {
      font-size: 16px;
    }
    
    #call-button {
      font-size: 18px;
      padding: 10px 18px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  