<div id="prices">
    <div class="centered">
        <h1 class="component-title">CENA SELIDBE</h1>
        <div class="dot-line"></div>
    </div>

    <div class="content-section">
        <p>Cena selidbe ili prevoza zavisi od nekoliko faktora koji su specifični za vaš slučaj, stoga ne možemo istaći precizan cenovnik na našem sajtu. Međutim, naš tim se trudi da vam pruži najpovoljniju ponudu u skladu sa vašim potrebama.
            <br><br>
            Ako se radi o selidbi manjih stanova, nudimo vam jeftine selidbe po povoljnoj ceni. Ukoliko, pak, imate potrebu za selidbom većih stvari, koristimo i veći broj radnika. Bez obzira na veličinu selidbe, možete nam se obratiti i dobiti najpovoljniju ponudu prilagođenu vašim potrebama.
            <br><br>
            Postoji nekoliko glavnih faktora koji utiču na cenu selidbe ili transporta:
            </p>
            <br>
            <ul>
                <li><fa-icon [icon]="faCircleDot" class="icon"></fa-icon> Vrsta usluge</li>
                <li><fa-icon [icon]="faCircleDot" class="icon"></fa-icon> Količina nameštaja ili robe</li>
                <li><fa-icon [icon]="faCircleDot" class="icon"></fa-icon> Broj tura</li>
                <li><fa-icon [icon]="faCircleDot" class="icon"></fa-icon> Broj radnika</li>
                <li><fa-icon [icon]="faCircleDot" class="icon"></fa-icon> Pristup objektu</li>
                <li><fa-icon [icon]="faCircleDot" class="icon"></fa-icon> Postojanje lifta</li>
            </ul>
            <br>
            <p>
            Kako biste saznali tačnu fiksnu cenu vaše selidbe ili transporta, jednostavno popunit formu na sajtu ili nas pozovite i odgovorite na nekoliko pitanja. Naš tim će pažljivo proceniti vaše potrebe i pružiti vam najpovoljniju ponudu prilagođenu upravo vama.
            
            Neka vaša selidba ili transport bude jednostavan i bezbrižan proces. Kontaktirajte nas danas i prepustite nam brigu o svim detaljima.</p>
    </div>
    <br>
    <button id="call-button" (click)="onClick()">
        <fa-icon [icon]="faPhone" class="icon"></fa-icon>
        Pozovite nas: +38160123456
    </button>
</div>