#services{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;

}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.component-title {
    font-size: 40px;
    font-weight: 500;
    color: var(--mainColor);
    margin: 0 auto 10px;
}

.dot-line {
    border-top: 10px dotted var(--mainColor);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}

.services-component {
    padding-top: 4rem;
    padding-bottom: 1rem;
    display: grid;
    place-items: center;
}

.row {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.column {
    padding-left: 1rem;
    padding-right: 1rem;
}
.card{
    width: 450px;
    height: 450px;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
    margin-bottom: 30px;
    overflow: hidden;
}
.card-img-top{
    position: relative;
    overflow: hidden;
}
.card-img-top img{
    width: 450px;
    vertical-align: middle;
    transition: .3s;
}
.card-title, .card-text{
    padding: 5px;
}


