#services{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;

}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.component-title {
    font-size: 40px;
    font-weight: 500;
    color: var(--mainColor);
    margin: 0 auto 10px;
}

.dot-line {
    border-top: 10px dotted var(--mainColor);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}

.row {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.column {
    padding-left: 1rem;
    padding-right: 1rem;
}
.card{
    width: 450px;
    height: 450px;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
    margin-bottom: 30px;
    overflow: hidden;
}
.card-img-top{
    position: relative;
    overflow: hidden;
}
.card-img-top img{
    width: 450px;
    vertical-align: middle;
    transition: .3s;
}
.card-title, .card-text{
    padding: 5px;
}

/* Stilizacija za telefone */
@media only screen and (max-width: 767px) {
    #services {
      margin-bottom: 30px;
    }
    
    .centered {
      margin-bottom: 20px;
    }
    
    .component-title {
      font-size: 30px;
      margin-bottom: 5px;
    }
    
    .dot-line {
      width: 40%;
    }
    
    .row {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    
    .column {
      padding-left: 0;
      padding-right: 0;
    }
    
    .card {
      width: 100%;
      height: auto;
    }
    
    .card-img-top img {
      width: 100%;
    }
    
    .card-title, .card-text {
      font-size: 16px;
      padding: 5px;
    }
  }
  
  /* Stilizacija za tablete */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #services {
      margin-bottom: 40px;
    }
    
    .centered {
      margin-bottom: 25px;
    }
    
    .component-title {
      font-size: 35px;
      margin-bottom: 10px;
    }
    
    .dot-line {
      width: 45%;
    }
    
    .row {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    
    .card {
      width: 100%;
      height: auto;
    }
    
    .card-img-top img {
      width: 100%;
    }
    
    .card-title, .card-text {
      font-size: 18px;
      padding: 5px;
    }
  }
  

