<section id="services">
    <div class="centered">
        <h1 class="component-title">OSNOVNE USLUGE</h1>
        <div class="dot-line"></div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img class="card-img-top" src="./assets/images/cards/selidbe-img.webp" alt="Usluga 1">
                <div class="card-body">
                    <h5 class="card-title">Selidbe</h5>
                    <p class="card-text">Vršimo selidbe lokala, zdraga, kuća i magacina. Selidba uključuje utovar,
                        prevoz i sitovar. Isključivo sa našim radnicima. Može biti i na više lokacija.</p>
                </div>
            </div>

        </div>
        <div class="column">
            <div class="card">
                <img class="card-img-top" src="./assets/images/cards/prevoz-img.webp" alt="Usluga 2">
                <div class="card-body">
                    <h5 class="card-title">Prevoz</h5>
                    <p class="card-text">Nudimo usluge prevoza stvari, nameštaja i ostale robe težine do 1.5t.</p>
                </div>
            </div>
        </div>
        <div class="column">

            <div class="card">
                <img class="card-img-top" src="./assets/images/cards/kurir-img.webp" alt="Usluga 3">
                <div class="card-body">
                    <h5 class="card-title">Usluge kurirske službe</h5>
                    <p class="card-text">Vi poručujete, mi plaćamo za Vas i dostavljamo Vam na željenu adresu.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="card-img-top" src="./assets/images/cards/odnosenje-stvari-img.webp" alt="Usluga 4">
                <div class="card-body">
                    <h5 class="card-title">Odnošenje starih stvari</h5>
                    <p class="card-text">Dolazimo na željenu adresu i odnosimo stare stvari na deponiju.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="card-img-top" src="./assets/images/cards/teske-stvari-img.webp" alt="Usluga 5">
                <div class="card-body">
                    <h5 class="card-title">Prevoz teških stvari</h5>
                    <p class="card-text">Za Vas prevozimo teške i kabaste stvari kao što su klavie, sef i mnoge druge.
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="card-img-top" src="./assets/images/cards/razmestaj-img.webp" alt="Usluga 6">
                <div class="card-body">
                    <h5 class="card-title">Razmeštaj nameštaja</h5>
                    <p class="card-text">Za Vas nudimo uslugu razmeštaja nameštaja u Vašem objektu..</p>
                </div>
            </div>
        </div>
    </div>
</section>