@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
    --navbarColor: #f7e9e1;
    --mainColor: #e3873b;
    --activeLink: #3a1d0e;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}