<div class="home-container" id="home">
    <div class="background-image"></div>
<div class="home-content">
    <h1>Dobrodošli u No Stress - agenciju za selidbe bez stresa!</h1>
    <p>No Stress agencija za selidbe vam garantuje najbolje cene u gradu! Uz nas, možete ostvariti povoljnu selidbu bez kompromisa na kvalitetu i profesionalnosti.</p>
    <div class="home-button">
        <a [routerLink]="['/form']">
            <button class="home-cta-button">Zakažite selidbu</button>
        </a>
    </div>
</div>
</div>